@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,600,400);

/****************************************/
/* HEADER */
/****************************************/
#header {
    background: url("../img/header-bk.png");
    height: 75px;
    padding: .6% 2% 0 2%;
}

#contactHeader {
    height: 75px;
    padding: .6% 2% 0 2%;

}



.list-header-nav {
    list-style-type: none;
    margin-top: 9px;
    margin-bottom: 0;
    float: right;
    margin-right: 10%;
}

.list-header-nav li {
    display: inline-block;
    padding: 15px;
}

.list-header-nav li a {
    color: #fff;
}

.title-tag-line {
    font-size: 18px !important;
    font-weight: 300 !important;
    text-align: center;
}

/****************************************/
/* Home Top */
/****************************************/

#homeTop {
    height: 900px;
    width: 100%;
    background: url(../img/home-bg.jpg) no-repeat;
    overflow: hidden;
    background-size: cover;
}

#homeTitle h1 {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #FFF;
    font-size: 2.7rem;
}

#typeStyle {
    width: 100%;
    font-size: 36px;
    color: #fff;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.type-wrap {
    width: 60%;
    margin: 0 auto 0 20%;
    position: absolute;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#howToVid {
    width: 60%;
    height: 650px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 120px auto 0 auto;
    -webkit-box-shadow: -1px 10px 63px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 10px 63px 4px rgba(0,0,0,0.5);
    box-shadow: -1px 10px 63px 4px rgba(0,0,0,0.5);
}

#howToVid .content {
    position: absolute;
    top: 0;
    left: 0;
}
#vidPosition {
    margin: -2.5% 0 0 -15%;
    width: 130%;
}


/****************************************/
/* Home About US */
/****************************************/

#aboutTitle {
    margin-top: 4%;
    margin-bottom: 4%;
}

#aboutTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    text-align: center;
    color: #333;
    font-size: 4rem;
}

#aboutImg {

    width: 80%;
    margin: 0 auto 0 auto;
}

#aboutText {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #333;
    font-size: 24px;
    margin: 25px 10% 25px 25px;
    line-height: 220%;
}

.title-underline {
    width: 100px;
    height: 4px;
    background-color: #eb1d24;
    margin: 0 auto 3% auto;
}

/****************************************/
/* Our Clients */
/****************************************/
#ourClients{
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E0E0E0 100%);
    margin-top: 5%;
}
#clientsTitle {
    text-align: center;
}

#clientsTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #333;
    font-size: 4rem;
}

#step1 {
    width: 320px;
    height: 560px;
    position: absolute;
    top: 100%;
    right: 170%;
    margin-left: 25em;
    -webkit-animation: stepOne 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;

}

#step2 {
    position: absolute;
    width: 10em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -600px;
    -webkit-transform: rotate(-90deg);
    border-radius: 0.5em;
    -webkit-animation: stepTwo 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#step3 {
    width: 320px;
    height: 560px;
    margin-left: 0;
    position: absolute;
    -webkit-animation: stepThree 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#step4 {
    position: absolute;
    width: 10em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin: -5em 0 0 25em;
    -webkit-transform: rotate(-270deg);
    border-radius: 0.5em;
    -webkit-animation: stepFour 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#step5 {
    width: 320px;
    height: 560px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 400px;
    -webkit-animation: stepFive 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#step6 {
    width: 160px;
    height: 160px;
    top: 150%;
    left: 50%;
    opacity: 0;
}

#step7 {
    width: 160px;
    height: 160px;
    top: 150%;
    left: 50%;
    opacity: 0;
}

#step8 {
    width: 160px;
    height: 160px;
    top: 150%;
    left: 50%;
    opacity: 0;
}

#step9 {
    width: 160px;
    height: 160px;
    top: 150%;
    left: 50%;
    opacity: 0;
}

#step10 {
    width: 160px;
    height: 160px;
    top: 150%;
    left: 50%;
    opacity: 0;
}

.step-1 {
    background: url(../img/2.jpg) !important;
    background-size: 100% !important;
}

.step-2 {
    background: url(../img/3.jpg) !important;
    background-size: 100% !important;
}

.step-3 {
    background: url(../img/4.jpg) !important;
    background-size: 100% !important;
}

.step-4 {
    background: url(../img/5.jpg) !important;
    background-size: 100% !important;
}

.step-5 {
    background: url(../img/6.jpg) !important;
    background-size: 100% !important;
}

.step-6 {
    background: url(../img/7.jpg) !important;
    background-size: 100% !important;
}

.step-7 {
    background: url(../img/8.jpg) !important;
    background-size: 100% !important;
}

.step-8 {
    background: url(../img/9.jpg) !important;
    background-size: 100% !important;
}

.step-9 {
    background: url(../img/10.jpg) !important;
    background-size: 100% !important;
}

.step-10 {
    background: url(../img/1.jpg) !important;
    background-size: 100% !important;
}

@-webkit-keyframes stepOne {
    0% {
        opacity: 0;
        -webkit-transform: rotate(180deg);
        width: 160px;
        height: 160px;
        border-radius: 8px;
        top: 125%;
    }

    100% {
        width: 160px;
        height: 160px;
        border-radius: 8px;
        top: 36%;
        right: 175%;
        -webkit-transform: rotate(-180deg);
        margin-left: 400px;
        opacity: .5;
    }
}

@-webkit-keyframes stepTwo {
    0% {
        -webkit-transform: rotate(-180deg);
        width: 160px;
        height: 160px;
        top: 50%;
        left: 50%;
        margin: -80px 0 0 -560px;
        border-radius: 8px;
    }

    100% {
        width: 320px;
        height: 560px;
        top: 14.3%;
        left: 174.6%;
        margin: -80px 0 0 -559.2px;
        -webkit-transform: rotate(0deg);
        border-radius: 0;
    }
}

@-webkit-keyframes stepThree {
    0% {
        width: 320px;
        height: 560px;
        top: 14.3%;
        left: 174.6%;
        margin: -80px 0 0 -559.2px;
        -webkit-transform: rotate(0deg);
        border-radius: 0;
    }

    100% {
        width: 160px;
        height: 160px;
        top: 50%;
        left: 50%;
        margin: -80px 0 0 400px;
        -webkit-transform: rotate(180deg);
        border-radius: 8px;
        opacity: .5;
    }
}

@-webkit-keyframes stepFour {
    0% {

    }

    100% {
        width: 160px;
        height: 160px;
        top: 150%;
        left: 50%;
        -webkit-transform: rotate(360deg);
        border-radius: 8px;
        margin-left: 400px;
        opacity: 0;
    }
}

@-webkit-keyframes stepFive {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        position: absolute;
        top: 135%;
        margin-left: -175%;
        border-radius: 8px;
        width: 160px;
        height: 160px;
        left: 0 !important;
        -webkit-transform: rotate(360deg);
    }
}

/****************************************/
/* iPhone */
/****************************************/



#iphone-border {
    width: 360px;
    height: 770px;
    border-radius: 60px;
    margin: 50px auto 0 auto;
    z-index: 0 background : rgba(240, 237, 240, 1);
    background: -moz-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0edf0', endColorstr='#ededed', GradientType=1);
}

#off-button {
    width: 56px;
    height: 4px;
    background: #eaeaea;
    position: absolute;
    z-index: 1;
    margin: -4px 0 0 240px;
}

#mute-button {
    width: 4px;
    height: 25px;
    background: #eaeaea;
    position: absolute;
    z-index: 1;
    margin: 105px 0 0 -4px;
}

#volume-up-button {
    width: 4px;
    height: 18px;
    background: #eaeaea;
    position: absolute;
    z-index: 1;
    margin: 160px 0 0 -4px;
}

#volume-down-button {
    width: 4px;
    height: 18px;
    background: #eaeaea;
    position: absolute;
    z-index: 1;
    margin: 210px 0 0 -4px;
}

#side-lines-1 {
    width: 360px;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    margin: 63px 0 0 0;
}

#side-lines-2 {
    width: 360px;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    margin: 695px 0 0 0;
}

#iphone-color {
    width: 350px;
    position: absolute;
    height: 759px;
    background: #fff;
    border-radius: 59px;
    margin: 5px;
    z-index: 2;
}

#iphoneScreen {
    width: 320px;
    position: absolute;
    margin: 98px 0 0 16.5px;
    padding: 0 0 0 0;
    height: 562.5px;
    background: linear-gradient(to right, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    background: rgba(212, 228, 239, 1);
    background: -moz-linear-gradient(left, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    background: -o-linear-gradient(left, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    background: -ms-linear-gradient(left, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    background: linear-gradient(to right, rgba(181, 206, 225, 1) 0%, rgba(165, 195, 218, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);

}

#speaker {
    border-radius: 10px;
    width: 60px;
    height: 10px;
    background: #000;
    position: absolute;
    z-index: 3;
    margin: 55px 0 0 145px;
    opacity: .7;
}

#sensor {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    z-index: 3;
    margin: 55px 0 0 120px;
    opacity: .7;
}

#camera {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background: #000;
    position: absolute;
    z-index: 3;
    margin: 25px 0 0 167.5px;
    opacity: .7;
}

#home-button-border {
    border-radius: 68px;
    width: 68px;
    height: 68px;
    position: absolute;
    z-index: 10;
    margin: 675px 142px 0 142px;
    background: rgba(240, 237, 240, 1);
    background: -moz-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

    background: -webkit-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(234, 230, 234, 1) 12%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0edf0', endColorstr='#ededed', GradientType=1);
}

#home-button-color {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    z-index: 4;
    margin: 4px;

}

#leftSideLine {
    width: 5%;
    height: 75%;
    margin: 28% 0 0 0;
    background: #fff;
    position: absolute;
    border-right: solid 2px;
    z-index: 9;
}

#rightSideLine {
    width: 4%;
    height: 74.4%;
    margin: 27.5% 0 0 96%;
    background: #fff;
    position: absolute;
    border-left: solid 2px;
    z-index: 9;
}

#topEffect {
    width: 92%;
    height: 4.2%;
    z-index: 9;
    border-bottom: solid 2px #000;
    margin: 19% 0 0 4.5%;
    position: absolute;
    background: #fff;
}

#bottomEffect {
    width: 92%;
    height: 5%;
    z-index: 9;
    border-top: solid 2px #000;
    margin: 188% 0 0 4.3%;
    position: absolute;
    background: #fff;
}

#shoutOutSlider {
    margin-bottom: 30%;
    margin-top: 25%;
}

/****************************************/
/* Found and Sold */
/****************************************/

#foundTitle {
    margin-top: 5%;
    margin-bottom: 2%;
    color: #fff;
    text-align: center;

}

#foundTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #fff;
    font-size: 4rem;
}

#foundSold {
    background: url(../img/foundandsoldbg.png) no-repeat center;
    width: 105%;
    height: 900px;
    background-size: cover;
    margin-top: -1%;

}

/****************************************/
/* Found and Sold Shoe Slider*/
/****************************************/
#shoeSliderImg1 {
    width: 0;
    overflow: hidden;
    position: absolute;
}

#shoeSliderImg2 {
    margin-left: 601px;
    width: 600px;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.shoeEffect1 {
    width: 600px;
    height: 700px;
}

.shoeEffect2 {
    width: 100%;
    height: 700px;
    margin-left: 0;
}

#shoeImg1 {
    background: url(../img/sold-1.png) no-repeat;
}

#shoeImg2 {
    background: url(../img/sold-2.png) no-repeat;
}

#shoeImg3 {
    background: url(../img/sold-3.png) no-repeat;
}

.shoe-slider {
    width: 600px;
    min-height: 500px;
}

/****************************************/
/* Contact */
/****************************************/

#contactTitle {
    margin-top: 5%;
    margin-bottom: 2%;
    color: #fff;
    text-align: center;

}

#contactTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #333;
    font-size: 4rem;
}

#contactTitle p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #333;

}

#contactUs {
    background: url(../img/BG-Contact.jpg) no-repeat center;
    width: 105%;
    height: 900px;
    background-size: cover;
    margin-top: -1%;

}

/****************************************/
/* Contact Page */
/****************************************/

#contactTop {
    height: 575px;
    margin-top: -75px;
    background-size: 126% !important;
    background-position-x: center !important;
    background-position-y: -241px !important;
    width: 100%;
    background: url(../img/contact-banner.png) no-repeat;
    overflow: hidden;
}

#shoeRequestTop{
    height: 575px;
    margin-top: -75px;
    background-size: 126% !important;
    background-position-x: center !important;
    background-position-y: -271px !important;
    width: 100%;
    background: url(../img/request-banner.png) no-repeat;
    overflow: hidden;
}

#contactPageTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 180px;
    text-align: center;
    color: #FFF;
}

#contactPageTitle .title-tag-line {
    color: #FFF !important;
}

.contact-info {
    margin-top: 6%;
    margin-bottom: 20%;
}

/****************************************/
/* Checkout Page */
/****************************************/

#checkOutTop {
    height: 575px;
    margin-top: -75px;
    background-size: 126% !important;
    background-position-x: center !important;
    background-position-y: -60px !important;
    width: 100%;
    background: url(../img/sneaker-banner.jpg) no-repeat;
    overflow: hidden;
}

#checkOutPageTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 180px;
    text-align: center;
    color: #FFF;
}

#checkOutPageTitle .title-tag-line {
    color: #FFF !important;
}

#checkOutForm {
    width: 76%;
    margin-left: 12%;
    padding: 1% 5% 6% 5%;
    height: 100%;
    background: #EDEDED;
    border-radius: 10px;
    margin-top: 50px;
    border-top: solid 6px #EC1D24;
    border-left: solid 1px #E0E0E0;
    border-bottom: double 6px #E0E0E0;
}

.dope-shadow{
    background: url(../img/form-shadow.png) no-repeat;
    background-size: 100% 73%;
    height: 60px;
    width: 0;
    margin-left: 0;
    opacity: .4;
    margin-top: -22px;
    position: absolute;
    z-index: -1;
}

#checkOutFormTitle h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #b3b3b3;
    margin-bottom: 3%;
}

/****************************************/
/* Checkout Page */
/****************************************/

#signUpTop {
    height: 575px;
    margin-top: -75px;
    background-size: 126% !important;
    background-position-x: center !important;
    background-position-y: -60px !important;
    width: 100%;
    background: url(../img/sneaker-banner.jpg) no-repeat;
    overflow: hidden;
}

#signUpPageTitle h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 180px;
    text-align: center;
    color: #FFF;
}

#signUpPageTitle .title-tag-line {
    color: #FFF !important;
}

#signUpForm {
    width: 76%;
    margin-left: 12%;
    padding: 1% 5% 6% 3%;
    height: 100%;
    background: #EDEDED;
    border-radius: 10px;
    margin-top: 50px;
    border-top: solid 6px #EC1D24;
    border-left: solid 1px #E0E0E0;
    border-bottom: double 6px #E0E0E0;
}

.dope-shadow{
    background: url(../img/form-shadow.png) no-repeat;
    background-size: 100% 73%;
    height: 60px;
    width: 0;
    margin-left: 0;
    opacity: .4;
    margin-top: -22px;
    position: absolute;
    z-index: -1;
}

#signUpFormTitle h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #b3b3b3;
    margin-bottom: 5%;
}

#signUpFormTitle h5{

    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #b3b3b3;
    margin-bottom: 3%;
}

.vdivider {
    background: #DADADA;
    width: 2px;
    height: 300px;
    position: absolute;
    margin: 50px auto 0 23.3%;
}

#oldUser{
    padding: 5% 10% 0 4%;

}

#newUser{
    padding: 5% 0 0 12%;
}





















